.titulo{
  text-align: center;
}
ion-img {
    width: 150px;
    display:block;
    margin:auto;

}
.entrar {
  font-family: 'Courier New', Courier, monospace;
  border: 1px solid black;
  font-size: medium;
}
