.titulo{
  text-align: center;
}
ion-img {
  width: 150px; height: 150px;
    display:block;
    margin:auto;
    border-radius:50%;

}
ion-button{
  color: rgb(255, 255, 255);
  text-align: center;    /*texto centrado*/
  font-family: monospace; /* estilo de fuente genérica Monospace, como por ejemplo Courier.*/
  font-size: small;     /* small: pequeño*/
  font-weight: normal;  /*Normal define el grosor de texto por defecto, sin modificar el grosor."*/
  font-size: auto;      /*Generalmente, para establecer el tamaño de letra se trabaja con valores numéricos y sus respectivas unidades de medida que pueden ser píxeles o ems. */
}
