<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title><h1>Curso HTML</h1></ion-title>
    <div class="wrapper">
      <div class="icon facebook">
        <ion-icon name="logo-facebook"></ion-icon>
        <div class="tooltip">Facebook</div>
        <span><i class="fab fa-facebook-f"></i></span>
      </div>

      <div class="icon twitter">
        <ion-icon name="logo-twitter"></ion-icon>
        <div class="tooltip">Twitter</div>
        <span><i class="fab fa-twitter"></i></span>
      </div>


      <div class="icon instagram">
        <ion-icon name="logo-instagram"></ion-icon>
        <div class="tooltip">Instagram</div>
        <span><i class="fab fa-instagram"></i></span>
      </div>

      <div class="icon github">
        <ion-icon name="logo-github"></ion-icon>
        <div class="tooltip">Github</div>
        <span><i class="fab fa-github"></i></span>
      </div>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content >
  <div id="header">
    <h1 style="color: black">Login</h1>
    <img src="assets/Users.png" />
</div>
  <form id="form"  #form="ngForm" (ngSubmit)="login(form)" method="POST" >
    <ion-input  class="borde"
        type="Users"
        name="Users"
        placeholder="Usuario"
        [(ngModel)]="usuario.nombre"></ion-input>
        <br>
        <ion-input   class="borde"
            type="password"
            name="password"
            placeholder="Contraseña"
            [(ngModel)]="usuario.clave">
          </ion-input>
          <div [routerLink]="['/pages/main/']">
            <ion-button type="submit" expand="block" >Iniciar</ion-button>
          </div>
        </form>
        <br>
        <ion-router-link href="/pages/register" class="underline"><p style="text-align: center;">Registrar cuenta</p></ion-router-link>
        <br>
        <ion-router-link href="/pages/vCorreo" class="underline"><p style="text-align: center;">Olvidaste tu contraseña?</p></ion-router-link>
</ion-content>





