<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title><h1>Curso HTML</h1></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content >
  <div id="header">
    <h1 style="color: black">Login</h1>
    <img src="assets/Users.png" />
</div>
  <form id="form"  #form="ngForm" (ngSubmit)="login(form)" method="POST" >
    <ion-input  class="borde"
        type="Users"
        name="Users"
        placeholder="Usuario"
        [(ngModel)]="usuario.nombre"></ion-input>
        <br>
        <ion-input   class="borde"
            type="password"
            name="password"
            placeholder="Contraseña"
            [(ngModel)]="usuario.clave">
          </ion-input>
          <div [routerLink]="['/pages/main/']">
            <ion-button type="submit" expand="block" >Iniciar</ion-button>
          </div>
        </form>
        <ion-router-link href="/pages/register" class="underline"><p style="text-align: center;">Registrar cuenta</p></ion-router-link>
        <ion-router-link href="/pages/vCorreo" class="underline"><p style="text-align: center;">Olvidaste tu contraseña?</p></ion-router-link>
</ion-content>





