<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pages/main"></ion-back-button>
      <ion-label>Nuestro equipo</ion-label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  color="light">
  <ion-card-content>

  <ion-card href="pages/login">
    <ion-img src="/assets/registerUser.png"></ion-img>
    <ion-card-header>
      <ion-card-title><p>Maicol Avila </p></ion-card-title>
      <ion-card-subtitle>Pulsa para hablar</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card href="pages/login">
    <ion-img src="/assets/registerUser.png"></ion-img>
    <ion-card-header>
      <ion-card-title><p>Gabriel Ignacio</p></ion-card-title>
      <ion-card-subtitle>Pulsa para hablar</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card href="pages/login">
    <ion-img src="/assets/registerUser.png"></ion-img>
    <ion-card-header>
      <ion-card-title><p> Renato Saldivia </p></ion-card-title>
      <ion-card-subtitle>Pulsa para hablar</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card href="pages/login">
    <ion-img src="/assets/registerUser.png"></ion-img>
    <ion-card-header>
      <ion-card-title><p>Juan Eloy</p></ion-card-title>
      <ion-card-subtitle>Pulsa para hablar</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

    <ion-card href="pages/login">
    <ion-img src="/assets/registerUser.png"></ion-img>
    <ion-card-header>
      <ion-card-title><p>Lukas Simms</p></ion-card-title>
      <ion-card-subtitle>Pulsa para hablar</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-card-content>


</ion-content>

<ion-toolbar class="tabs">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="Inicio" [routerLink]="['/pages/main/']">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="Productos" [routerLink]="['/pages/shop']">
        <ion-icon name="game-controller-outline"></ion-icon>
        <ion-label>Productos</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="Acerca de..." [routerLink]="['/pages/team']">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Acerca de...</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
    </ion-tabs>
</ion-toolbar>
