
.text{
  text-align: center;
}

.text1{
  color: aqua;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}


.codigo {
  color:#ffffff;
  text-align: center;
  border: rgb(95, 95, 95) 1px solid;
  height: 30px;

}


