<ion-header>
    <ion-toolbar class="text" color="primary">
      <ion-title>Verificacion</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content fullscreen class="ion-padding">
    <ion-col>
      <ion-row>
        <ion-label class="text1"> Enviando correo confirme identitacion... </ion-label>
      </ion-row>
    </ion-col>
    <ion-progress-bar [value]="progress"></ion-progress-bar>
    <br>
    <ion-label><p style="text-align: ;"> Ingrese el codigo de verificacion  </p></ion-label>
    <ion-input placeholder="Codigo" type="number" class="codigo"></ion-input>
    <ion-button href="/pages/main" expand="block">Aceptar</ion-button>

</ion-content>

