
.text{
  text-align: center;
}

.ion-padding {
  max-width: auto;
  margin-left: auto;
  margin-right: auto;
  border: black 3px solid;


  ion-card-header {
    margin: auto;
    height: 50px;
  }

.codigo {
  mask-type: text;
  color:#ffffff;
  text-align: center;
  border: rgb(95, 95, 95) 1px solid;
  height: 30px;

}
.text1{
  color: aqua;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

}

