<ion-header>
  <ion-toolbar class="caja"  >
        <ion-row>
          <ion-col>
            <div>Legion shoping</div>
          </ion-col>
        </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/registerUser.png"></ion-img>
    <ion-card-header >
      <ion-card-title><h5>Maicol Avila</h5></ion-card-title>

      <ion-card-subtitle><p style="text-align: center;">Run</p>
                          <p>20.034.213-6</p>
                         <p>Nivel 1</p>
                        </ion-card-subtitle>
                      </ion-card-header>
                    </ion-card>


<ion-list>
  <ion-list-header>
    <ion-label style="text-align: center;"><h3>Notificaciones</h3></ion-label>
  </ion-list-header>
</ion-list>

</ion-content>

<ion-toolbar class="tabs">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button [routerLink]="['/pages/main/']">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>

      <ion-tab-button  [routerLink]="['/pages/cursos']">
        <ion-icon name="book-outline"></ion-icon>
        <ion-label>Cursos</ion-label>
      </ion-tab-button>

      <ion-tab-button  [routerLink]="['/pages/team']">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Acerca de...</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
    </ion-tabs>
</ion-toolbar>





